#div1{
    background-color: red;
    height: 200px;
    width: 600px;
}
#div2{
    background-color: yellow;
    height: 200px;
    width: 600px;
}
#div3{
    background-color: black;
    height: 200px;
    width: 600px;
}
#div4{
    background-color: green;
    height: 200px;
    width: 600px;
}